:root {
    --menu-width: 240px;
    --collapsed-width: 60px;
  }
  
  main {
    position: relative;
    margin-left: var(--menu-width);
    transition: margin-left 0.3s;
  }
  
  .sidebar.collapsed + main {
    margin-left: var(--collapsed-width);
  }
  