.slider-wrapper {
  position: absolute;
  top: 90px;
  left: 54%; /* Moves it towards the right */
  transform: translateX(-50%);
  width: 75%; /* Adjust width for better fitting */
  max-width: 1400px;
  z-index: 997;
}

.slider {
  display: flex;
  aspect-ratio: 3 / 2; 
  overflow: hidden;
  scroll-behavior: smooth;
  box-shadow: 0 1rem 1.5rem -0.5rem hsla(0, 9%, 28%, 0.738);
  border-radius: 0.5rem;
  width: 100%;
  max-height: 70vh; 
}

.slide {
  flex: 0 0 100%;
  transition: transform 0.5s ease-in-out;
  position: relative;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  bottom: 7%;
  left: 4%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 12px 18px;
  border-radius: 5px;
}

.text-overlay h2 {
  margin: 0;
  font-size: 2rem;
}

.text-overlay p {
  margin: 5px 0 0;
  font-size: 1.4rem;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.dot {
  width: 1.8rem;
  height: 0.5rem;
  border-radius: 5px;
  background-color: #fff;
  opacity: 0.3;
  transition: opacity ease 250ms;
  border: none;
  cursor: pointer;
}

.dot.active {
  opacity: 1;
}

@media (max-width: 1024px) {
  .slider-wrapper {
    left: 53%;
    transform: translateX(-50%);
    width: 90%;
  }
  .slider{
    aspect-ratio: 2 / 1.1 

  }

  .text-overlay {
    padding: 10px 15px;
  }

  .text-overlay h2 {
    font-size: 1.6rem;
  }

  .text-overlay p {
    font-size: 1.2rem;
  }
}


@media (max-width: 786px) {
  .slider-wrapper {
    position: absolute;
    top: 73px;
    width: 80%;
    max-width: 100%;
    left: 56%;
    transform: translateX(-50%);
    aspect-ratio: 2 / 1.2; 
  }

  .slider {
    aspect-ratio: 2 / 1.2; 
  }

  .text-overlay {
    padding: 6px 10px;
    text-align: center;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
  }

  .text-overlay h2 {
    font-size: 1.2rem;
  }

  .text-overlay p {
    font-size: 0.9rem;
    margin-bottom: 2px;
  }

  .slider-nav {
    bottom: 0.5rem;
  }
}

